<!DOCTYPE html>
<html>
    <head>
        <title>Registration!!</title>
        <link rel="stylesheet" href="{{url_for('static',filename='Style.css')}}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
    </head>
    <body style="background-image: url('ll.jpeg');">
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="container">
        <div class="row">
            <div class="col-lg-12">
                REGISTER 
            </div>
        </div>
        <form class="in" action="{{url_for('cont')}}"method="post">
            <label for ="username"><strong>Username:</strong></label><br>
            <input type="text" id="username" name="username"><br>
            <label for="mailID"><strong>Email-ID:</strong></label><br>
            <input type="text" id="mailID" name="mailID"><br>
            <label for="phone"><strong>Phonenumber:</strong></label><br>
            <input type="tel" id="phone" name="phone"><br> 
            <label for="pwd"><strong>Password:</strong></label><br>
            <input type="password" id="pwd" name="pwd"><br>
            <button type="submit" class="btn btn-primary mb-2">Sign Up!!</button>
        </form>
    </div>
   </body>
</html>