$a:red;
$b:blue;
div{
    font-style: oblique;
    p1,p3,p5{
        color: $a;
    }
    p2,p4{
       color: $b;
    }

}
%msg{
    font-weight: bold;
    padding: 20px;
    margin: 20px; }
  
  .one {
      @extend %msg;
      font-size: xx-large;
      color: darkgreen;
       }
  
  .two {
      @extend %msg;
    font-size: x-large; 
}

body{
    background-image: url('social.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
  
ul#menu li{
    font-size:xx-large;
    background-color: black;
    text-align: center;
    display: inline;
  }
  h1{
      font-size: xx-large;
      color: brown;
  }                              